name: Build and run tests
on:
  push:
    branches:
      - master
jobs:
  debug-apk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 17
          cache: gradle
      - name: Build
        run: ./gradlew assemble
      - name: Test
        run: ./gradlew check
